<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lists</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Lists</h1>

    <p>Don't see what you are looking for? Add it to the list!</p>

    <% if (lists && lists.length > 0) { %>
        <ul>
            <% lists.forEach(list => { %>
                <li><%= list.name %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No lists yet.</p>
    <% } %>


    <h2>Add New List</h2>
    <form action="/lists" method="POST">
        Name: <input type="text" name="name"><br>
        <input type="submit" value="Add List">
    </form>
</body>
</html>