<nav>
    <a href="/">Home</a>
    <% if(user) { %>
      <a href="/users">Explore</a>
      <a href="/users/<%=user._id%>/trips">View my Inventory</a>
      <a href="/trips">My Trips</a>
      <a href="/items">Inventory</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
      <a href="/auth/sign-in">Sign In</a>
      <a href="/auth/sign-up">Sign Up</a>
    <% } %>
  </nav>

