h1 {
    color: palevioletred; 
    font-size:  70px;
}
body {
    background-image: url('https://i.etsystatic.com/10809981/r/il/d00ddf/3218339646/il_1588xN.3218339646_rh8n.jpg'); 
    background-size: 1350px 1200px; 
}