<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a New Item</title>
</head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <form action="/users/<%= user._id %>/items/" method="POST">
      <label for="Name">Name:</label>
      <input type="text" name="name" id="name">
      <label for="quantity"> Quantity: </label>
      <input type="number" name="quantity" id="quantity"> 
      <button type="submit">Add Item to My Inventory</button>
    </form>
  </body>
</html>