<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageOwner.username %>'s </title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1> <%= pageOwner.username %>'s Profile</h1>
       
    <div>
    <a href='/trips'> My Upcoming Trips </a>
    <a href='/users/<%= user._id %>/items '> My Inventory</a>
    </div>
   
  </body>
  </html>

  </form>
