<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Trips</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>My Recipes</h1>
  <a href="/trips/new">Add New Trip</a>
  <% recipes.forEach(recipe => { %>
  <div>
    <a href="/trips/<%= trip._id %>">
      <h2><%= trip.name %></h2>
    </a>
  </div>
  <% }); %>
</body>
</html>