<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Trips</title>
  <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>My Trips</h1>
  <a href="/trips/new">Add New Trip</a>
  <% trips.forEach(trip => { %>
  <div>
    <a href="/trips/<%= trip._id %>">
      <h2><%= trip.destination %>- <%= trip.duration %> days</h2>
    </a>
  </div>
  <% }); %>
</body>
</html>