<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add New Trip</title>
  <link rel="stylesheet" href="/css/tripedit.css"> 
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Add New Trip</h1>
  <form action="/trips" method="POST">
    <label for="destination">Destination: </label>
    <input type="text" id="destination" name="destination" required> 
    <label for="duration">Duration (days):</label>
    <input type="number" id="duration" name="duration" required> 
    <button type="submit"> Add Trip </button>
    </form>
</body>
</html>